/**/


// DIMENSIONS
$XS: 5px;
$S: 10px;
$S_: 15px;
$M: 20px;
$L: 30px;
$XL: 50px;
$XXL: 60px;
$_XS: .25em;
$_S: .5em;
$_S_: .75em;
$_M: 1em;
$_M_: 1.25em;
$_M__: 1.5em;
$_L: 2em;
$_XL: 3em;
$_XXL: 5em;


// TYPOGRAPHIES
// $titres: 'typography des titre';
// $contenus: 'typography des contenus';


// FONDS
$primary:#9356DC;
$secondary:#FF79DA;
$ternary:#99E2D0;


// COULEUR TEXTES
$primary_text:#000;
$secondary_text:#FFF;
$ternary_text:#aaa;


// BREAKPOINTS
// $watch: "taille XS";
$mobile: 570;
$tablette: 960;
$desktop: 1460;
// $tv: "taille XL";
$breakpoints:(mobile:$mobile,tablette:$tablette,desktop:$desktop);

// ENSEMBLES DE CHARTE GRAPHIQUE
